.dungeonmastery{
    
}
.dungeonmastery .bold{
    font-weight: bold;
}
.dungeonmastery .stat-list p{
    padding-right: 10px;
}

.dungeonmastery section{
    min-width: 200px;
}
.dungeonmastery .md-menu-opener{
    display: none;
}
/* ANGULAR MATERIAL */
md-content{
    
}
md-input-container{
    width: 100%;
    margin: 0;
}
md-input-container > md-select{
    margin-bottom: 24px;
}
md-select span{
    font-weight: 700;
}
md-toolbar .md-toolbar-tools .image-wrapper{
    height: 100%;
    padding: 10px;
}
md-toolbar .md-toolbar-tools .image-wrapper img{
    height: 100%;
}
md-grid-list md-grid-tile:nth-child(odd) figure{
    justify-content: flex-start;
}
md-grid-list md-grid-tile:nth-child(even) figure{
    justify-content: flex-end;
}

@media all and (max-width: 960px){
    .dungeonmastery .md-menu-opener{
        display: block;
    }
    .dungeonmastery section:nth-child(2){
        transform: translateX(100%);
        padding: 8px;
        position: fixed;
        background-color: #fff;
        z-index: 10;
        right: 0;
        top: 0;
        height: 100%;
        transition: all 0.2s linear;
    }
    .dungeonmastery section.open:nth-child(2){
        transform: translateX(0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    }
    
    /* ANGULAR MATERIAL */
    md-toolbar .md-toolbar-tools .image-wrapper{
/*        display: none;*/
    }
}